/*-----------------------------------------------------------
GENERIQUE
---------------------------------------------------------*/

html{
    box-sizing: border-box;
}

*,*:before,*:after{
    box-sizing: inherit;
}


/*-----------------------------------------------------------
ELEMENTS
---------------------------------------------------------*/

body{
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
}

a{
    text-decoration: none;
    color: white;
}

h1{
    font-size: 36px;
    font-weight: 300;
    letter-spacing: 7.2px;
    margin: 0;
    text-align: center;
}

h2{
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

h3{
    font-size: 36px;
    font-weight: normal;
    margin: 10px 0;
}


/*-----------------------------------------------------------
COMPONENTS
---------------------------------------------------------*/


.wrapper{
    max-width: 1000px;
    margin: 0 auto;
}

.header{
    background-color: #f26c25;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

